<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
    <script src="https://fengyuanchen.github.io/cropper/js/cropper.js"></script>
</head>


<body>

    <div class="container">

        <div class="img_upload">
            <!-- upload text part -->
            <p class="img_upload-text">
                TEST 이미지
                <span class="img_upload-warning"> ※ *.png / *.jpg (이미지파일)로 업로드해주세요 ※ </span>
            </p>
            <!-- upload image part -->
            <div class="upload_btn">
                <input type="text" class="upload_txt" value="Please upload an image." placeholder="Please upload an image." disabled>
                <div class="upload">
                    <input type="file" id="select_file" name="select_file" accept="image/jpeg, image/png, image/jpg" capture="camera">
                    <label for="select_file"> Select File </label> 
                </div>
            </div>
        </div>
        
        <div class="before_thumbnail">
            <div class="before_img_box">
                <img id="before_img">
            </div>

            <input type="submit">
            <label for="crop_btn" id="crop_btn"> Crop </label>
            <input type="submit">
        </div>

        <div class="after_thumbnail">
            <div class="after_img_box">
                <div id="char_txt"> 더 깨끗한 사진으로 만들어줄게! <br> 잠시만 기다려줘 🔍 </div>
                <img src="/images/adot_char.gif" id="char_img">
                <div id="myProgress">
                    <div id="myBar"></div>
                </div>
                <img id="after_img">
            </div>
            <button type="button" id="trans_btn"> 
                <img src="/images/spnv_logo.png" id="logo_img">
            </button>
        </div>

    </div>
</body>
</html>