body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.img_upload .img_upload-text {
  font-weight: bold;
  letter-spacing: -1px;
}
.img_upload .img_upload-warning {
  font-size: small;
  font-weight: normal;
  color: #b2b2b2;
}
.upload_btn {
  display: flex;
}
.upload_txt {
  border: solid 0.1px lightgray;
  border-radius: 5px;
  padding: 11px 20px;
}
.upload {
  margin-top: 12px;
  margin-left: 3px;
}
label {
  padding: 10px 20px;
  background-color: #323A85;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.before_thumbnail, .after_thumbnail {
  float: left;
  flex-direction: column;
  margin: 25px 0px;
  width: 360px;
  height: 480px;
  border: solid 0.1px lightgray;
}
.after_thumbnail {
  margin-left: 50px;
}
.before_img_box, #before_img, .after_img_box, #after_img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  margin-bottom: 25px;
  background-color: white;
}
#crop_btn {
  display: none;
}
#trans_btn {
  background-color: #FF7A00;
  display: none;
}

input[type="file"], input[type="submit"] {
  display: none;
}
